body {
    background-image: linear-gradient(#bebbcd, #8c85ad);
    font-family: 'Crimson Text', serif;
    font-size: 1.3rem;
}

a {
	color: rgb(37, 1, 58);
    text-decoration: none;
}

nav, h1, h2, h3{
    font-family: 'Poppins', sans-serif;
}

.dropdown-menu, .nav-link, .btn-outline-dark:hover {
    background-color:#8e87aa;
}

.dropdown-item:hover, .nav-link:hover {
    background-color: #bebbcd;
}

footer {
    font-size: 1rem;
}


/* Custom border start */
.border-sm-bottom {
    border-bottom: 1px solid black;
}
.border-sm-right-0 {
  border-right: 0;
}
.border-sm-left-0 {
  border-left: 0;
}
@media (min-width: 768px) {
    .border-md-bottom-0 {
        border-bottom: 0;
    }
    .border-md-right {
        border-right: 1px solid black;
    }
    .border-md-left {
        border-left: 1px solid black;
    }
}
/* Custom border end */



.card-body .btn-outline-dark {
    font-family: 'Crimson Text', serif;
    font-size: 1.1rem;
}

.prod {
    background-color:#8e87aa;
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
}