* {
    box-sizing: border-box;
}

body {
    background-color: #bebbcd;
    font-family: Verdana, Helvetica, sans-serif;
    -webkit-text-fill-color: black;
}


/*Header with login system*/
header {
    width: 100%;
    height: auto;
}

.wrapper-one {
    width: auto;
    overflow: hidden;
}

header .login {
    float: right;
    margin-top: 20px;
    margin-right: 50px;
}

header .login form {
    float: left;
}

header .login form input:hover{
    background: #f1f1f1;
}

header .login form button, header .login button {
    background: #f1f1f1;
    cursor: pointer;
}

header .login form button:hover, header .login button:hover {
    background: #d8d8d8;
}

header .login a {
    margin-left: 7px;
}
/*End Header*/

/* Create three unequal columns that floats next to each other */
.column {
    float: left;
    padding: 10px;

}

.left, .right {
    width: 20%;
    border: 1px solid #555;
}

.middle {
    width: 57%;
}

.middle.img {
    display: table-cell;
    max-width: 300px;
    vertical-align: middle;

}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}
/*End Columns*/

/* Navigation Bar */
ul {
    list-style-type: none;
    background-color: #f1f1f1;
    border: 1px solid #555;
    padding: 0;

}

li a, .dropbtn {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;

}

li a:hover, .dropdown:hover{
    background-color: #888;
    color: white;
}

li {
    text-align: center;
    border-bottom: 1px solid #555;
}

li:last-child {
    border-bottom: none;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #d8d8d8;
    min-width: 160px;
}

.dropdown-content a.hover {
    background-color: #f5f5f5;
}

.dropdown:hover .dropdown-content {
    display: block;
}
/*End Nav Bar*/


/*Gallery*/
.gallery {
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 180px;
}

.gallery:hover {
    border: 1px solid #777;
}

.gallery img {
    width: 100%;
    height: auto;
}

.desc {
    padding: 15px;
    text-align: center;
}

.gallery2 {
    margin: 5px;
    float: left;
    width: 180px;
    transition: transform .2s;
}

.gallery2:hover {
    transform: scale(2.5);
}

/*End Gallery*/