
body {
    background-color: #f1f1f1;
    font-family: Verdana, Helvetica, sans-serif;
    -webkit-text-fill-color: blueviolet;
}

/* Navigation Bar */
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: #f1f1f1;
    border: 1px solid #555;
    float: right;
}

li a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #555;
    color: white;
}

li {
    text-align: center;
    border-bottom: 1px solid #555;
}

li:last-child {
    border-bottom: none;
}
/* End Nav Bar*/

/*Left bar*/
div.left{
    width: 200px;
    float: left;
    margin: 10px;
    padding: 10px;
    border: 1px solid #555;
    height: max-content;
}
/*End Left bar*/

h1{
    text-align: center;
}

