* {
    box-sizing: border-box;
}

body {
    background-color: #f1f1f1;
    font-family: Verdana, Helvetica, sans-serif;
    -webkit-text-fill-color: blueviolet;
}

h1{
    text-align: center;
}

/* Create three unequal columns that floats next to each other */
.column {
    float: left;
    padding: 10px;
    height: 300px; /* Should be removed. Only for demonstration */
}

.left {
    width: 20%;
    border: 1px solid #555;
}

.right {
    width: 20%;
    border: 1px solid #555;
}

.middle {
    width: 55%;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Navigation Bar */
ul {
    list-style-type: none;
    background-color: #f1f1f1;
    border: 1px solid #555;
    padding: 0;

}

li a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;

}

li a:hover {
    background-color: #555;
    color: white;
}

li {
    text-align: center;
    border-bottom: 1px solid #555;
}

li:last-child {
    border-bottom: none;
}
/*End Nav Bar*/